<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="position: relative; max-width: 800px; margin: 0 auto;">
    {{>header}}
    <h1 style="position: absolute; top: 260px; left: 60px; color: rgb(77, 77, 77); font-size: 2rem; font-weight:500">404: That page doesn't exist!</h1>
</body>
<body>
    
</body>
</html>