<div class="header-container">
    <h1><a href="../index.hbs">Weather</a></h1>
    <form action="">
        <input id="location" type="text" placeholder="New York">
        <button>Search</button>
    </form>
</div>